<!DOCTYPE html>
<html>
  <head>
    <title>Tunebook</title>
    <link rel="stylesheet" type="text/css" href="/static/css/setpreview.css">
  <head>
  <body>
    <h1>Edit Set #{{ set_id }}</h1>
    <p><a href="/">Cancel and return to home page</a></p>
    <form action="/edit_set/{{ set_id }}" method=post>
        <p>Book Name: <input name="book_name" type="text" value="{{ book_name }}"></p>
        <p>Set Name: <input name="set_name" type="text" value="{{ set_name }}"></p>
        {% if wrap %}
            <p><input name="wrap" type="checkbox" checked>Last tune wraps to first</p>
        {% else %}
            <p><input name="wrap" type="checkbox">Last tune wraps to first</p>
        {% endif %}
        {% for i in [1,2,3,4,5,6] %}
            <p>Tune {{ i }}:
            {% if i <= tune_count %}
            Tune# <input name="tune_id_{{ i }}" type="number" value="{{ tune_list[i-1][0] }}">&nbsp;&nbsp;
            Repeats <input name="repeats_{{ i }}" type="text" value="{{ tune_list[i-1][1] }}">
            {% else %}
            Tune# <input name="tune_id_{{ i }}" type="number">&nbsp;&nbsp;
            Repeats <input name="repeats_{{ i }}" type="text">
            {% endif %}
            </p>
        {% endfor %}
        <p><input type="submit" value="Submit Changes"></p>
    </form>
    <p><a href="/set/{{ set_id }}">Preview set</a></p>
  </body>
</html>

