<!DOCTYPE html>
<html>
  <head>
    <title>Tunebook</title>
    <link rel="stylesheet" type="text/css" href="/static/css/setpreview.css">
  <head>
  <body>
    <h1>Ceili Tunebook</h1>
    {% if loggedin %}
    <p><a href="/logout">Sign Out</a></p>
    {% else %}
    <p><a href="/login">Sign In</a></p>
    {% endif %}
    <h2>Tune Operations</h2>
    <ul>
        <li><a href="/search_tune">Search for tunes</a></li>
        {% if privileged %}
        <li><a href="/new_tune_abc">Create tune with ABC</a></li>
        <li><a href="/new_tune_img">Create tune with Image</a></li>
        {% endif %}
    </ul>
    <h2>Set Operations</h2>
    <ul>
        <li><a href="/search_set">Search for sets</a></li>
        {% if privileged %}
        <li><a href="/new_set">Create a new set</a></li>
        {% endif %}
    </ul>
    <h2>Book Operations</h2>
    <ul>
        <li><a href="/search_book">Search for books</a></li>
        {% if privileged %}
        <li><a href="/new_book">Create a new book</a></li>
        {% endif %}
    </ul>
  </body>
</html>

