body {
    font-family: "Arial", Helvetica, sans-serif
}
h1 {
    font-size: 24pt;
}
h2 {
    font-size: 16pt;
}
.lyrics, .lyrics_chorus {
    font-size: 12pt;
}
.lyrics_tab, .lyrics_chorus_tab {
    font-family: "Courier New", Courier;
    font-size: 10pt;
}
.lyrics_chorus, .lyrics_chorus_tab, .chords_chorus, .chords_chorus_tab {
    font-weight: bold;
}
.chords, .chords_chorus, .chords_tab, .chords_chorus_tab {
    font-size: 10pt;
    color: blue;
    padding-right: 4pt;
}
.comment, .comment_italic, .comment_box {
    background-color: #ffbbaa;
}
.comment_italic {
    font-style: italic;
}
.comment_box {
    border: solid;
}
